# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.out
*.app

# debug information files
*.dwo
.vscode/
build/
__pycache__/
aarch64--glibc--stable-2022.08-1/
jetson_nano_rootfs/
build_aarch64/
build_x86_64/

